language: node_js
node_js:
- 4.2.2
install:
- node make.js dist devChannel 

after_success:
  - git clone https://${GH_REF}
  - cp -rf dist/* stravistixchannel/
  - cd stravistixchannel/
  - git status
  - git add . --all
  - git commit -m "Commit latest development channel on $(date)"
  - git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" develop:develop > /dev/null 2>&1

branches:
  only:
  - develop
  - feature/163
